[submodule "allocator-service-ms"]
	path = allocator-service-ms
	url = https://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@github.com/cscherhoff/allocator-service-ms
[submodule "expense-manager-ms"]
	path = expense-manager-ms
	url = https://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@github.com/cscherhoff/expense-manager-ms
