[submodule "allocator-service-ms"]
	path = allocator-service-ms
	url = https://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@github.com/cscherhoff/allocator-service-ms
[submodule "expense-manager-ms"]
	path = expense-manager-ms
	url = https://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@github.com/cscherhoff/expense-manager-ms
[submodule "investment-service-kafka"]
	path = investment-service-kafka
	url = https://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@github.com/cscherhoff/investment-service-kafka
[submodule "Eureka"]
	path = Eureka
	url = https://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@github.com/cscherhoff/Eureka
[submodule "finance-user-service"]
	path = finance-user-service
	url = https://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@github.com/cscherhoff/finance-user-service
